.header {
    max-width: 880px;
    height: 74px;
    border-bottom: 1px #545454 solid;
    margin-top: 45px;
    margin-bottom: 40px;
}

@media (max-width: 960px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 560px) {
    .header {
        margin-top: 28px;
    }
}