.form__input-error {
    height: 20px;
    font-size: 11px;
    line-height: 11px;
    color: #FF0000;
    margin-top: -26px;
    margin-bottom: 7px;
    display: none;
    max-width: 358px;
}

.form__input-error_active {
    display: block;
}

.form__input_type_error {
    border-bottom: 1px solid #FF0000;
}